.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./background-blurred.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
  }

  .HeaderText{
    position: absolute;
    top:0px;
    font-size:1.1em;
    font-weight:bold;
    left: 120px;
  }

  .IntroText{
    position: absolute;
    top:60px;
    font-size:0.7em;
    left: 170px;
    width:250px;
    text-align: left;
  }

.HeaderContainer{
  position: absolute;
  top: 90px;
  width: 450px;
  height: 203px;
  left: calc(50% - 200px);
}

.EarthDayLogo{
  position: absolute;
  top:35px;
  left: 0px;
  width:170px;
}

@media only screen and (max-width: 560px) {
  .IntroText{
    width:200px;
  }
  
  .HeaderContainer{
    width: 390px;
  }
}
