.SignUpButton {
    text-align: center;
}
  
.SignUpButton a {
    border-radius: 20px;
    padding: 1rem 4rem;
    background-color: #c3dd4f;
    color: #000;
    font-weight: 600;
    font-size: .8rem;
    border:solid 2px #000;
    transition: background-color .5s;
}

.SignUpButton a:hover {
    cursor: pointer;
    background-color: #000;
    border:solid 2px #000;
}
