.EventDetailBox{
    width:50%;
    height:400px;
    background-color: #f2f2f2;
}

.DetailControls{
    padding-top:30px;
}

.EventDetailHeader{
    font-weight: bold;
    font-size:.8rem;
}

.EventDetailIntro{
    padding-top: 15px;
    font-size:.8rem;
}

.EventDetailInputBox{
    padding-top: 10px;
    width:300px;
    margin:auto;
}

.DetailButton{
    padding-top: 20px;    
}

.DetailIcon{
    height:50px;
}

.EventDetailDateLocation{
    margin: auto;
    padding: 50px;
    display:flex;
    align-items: center;
    font-size: 0.7rem;
    width: 70%;
}

.EventDetailDateLocation > div {
    padding: 10px;
    text-align: left;
}

.AddressIcon{
    margin-left: auto;
}

.Address {
    width:150px;
}