.SearchButton {
    text-align: center;
}
  
.SearchButton a {
    border-radius: 20px;
    padding: 1rem 6rem;
    background-color: #c3dd4f;
    border:solid 2px #000;
    color: #000;
    font-weight: 600;
    font-size: .8rem;
    transition: background-color .5s;
}

.SearchButton a:hover {
    cursor: pointer;
    background-color: #f2ffbc;
    border:solid 2px #000;
}
