.Event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10.66rem;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 15px grey;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  
  .Event .image-container {
    height: 7rem;
    margin-bottom: 0.2rem;
  }
    
  .Event-information {
    display: flex;
    justify-content: space-between;
  }
    
  .Event-date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-left: 0.6rem;
  }

  .Event-day {
    font-size: 2rem;
  }

  .Event-month {
    font-size: .88rem;
  }

  .Event-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  
  .Event-detail h3 {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: .3rem;
  }

  .Event-detail h4 {
    font-size: 0.8rem;
  }
