.RecentEvent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow: 0 0 15px grey;
    cursor: pointer;
    margin-bottom: 2.2rem;
  }
  
  .RecentEvent .image-container {
    display: flex;
    height: 80px;
    width: 80px;
  }
    
  .RecentEvent-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    width:250px;
    padding:1rem;
    font-size: .8rem;
}
    
  .RecentEvent-name {
    display: flex;
    text-align: left;
    font-weight: bold;
    font-size: .9rem;
  }

  .RecentEvent-info{
    display: flex;
    text-align: left;
    line-height: 0.9rem;

}
