.App {
    height:calc(100% - 64px);
    text-align: center;
  }
  
.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./background-blurred.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}
.LoginContainer{
    position: absolute;
    top: 90px;
    width: 450px;
    height: 250px;
    left: calc(50% - 225px);
  }
  
  .LoginTitleText{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  
  .LoginFooter{
    position: absolute;
    left: calc(50% - 340px);
    bottom: 10px;
  }

  .pageLinks{
    padding-top:50px;
    line-height: 1.7rem;
}

.pageLinks a{
    font-size: 1rem;
    color: #000;
    text-decoration: underline;
}

  @media only screen and (max-width: 450px) {
    .LoginContainer{
        left:0px;
        width:100%;
    }

    .LoginFooter{
        width:400px;
        left: 0px;
      }
    
}