.RecentEventsList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
    overflow: hidden;
    margin-top: 5rem;
}

  .RecentEventsListHeader{
    position:absolute;
    top:1250px;
    left: calc(50%-80px);
    font-weight: bold;
    font-size:.8rem;
  }

  .RecentEventsListMoreLink{
    left: 87%;
    font-weight: bold;
    font-size:.8rem;
    padding-left:77%;
  }
