.EventList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4.4rem 10%;
    height: 200px;
    padding-top: 10px;
    overflow: hidden;
  }

  .EventListHeader{
    position:absolute;
    top:340px;
    left: calc(50%-80px);
    font-weight: bold;
    font-size:.8rem;
  }

  .EventListMoreLink{
    position:absolute;
    top:580px;
    left: 87%;
    font-weight: bold;
    font-size:.8rem;
  }


  @media only screen and (max-width: 560px) {
    .EventListMoreLink{
      display:none;
    }        
  }